@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 2.0rem;
  font-weight: bold;
  color: #cc00ff;
}

*, 
*:before, 
*:after {
   box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
}

h3 {
  text-align: center;
  color: #cc00ff;
  text-shadow: 1px 1px 0 rgba(white, 1);
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

input, textarea {
  border: 0; 
  outline:0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 1px 1px rgba(lightgray, 0.1); 
  resize: none;
}

:focus {
  box-shadow: 0 0px 2px rgba(#cc00ff, 1)!important;
}
  
#input-submit {
  color: white; 
  background: violet;
  cursor: pointer;
}

#input-reset {
  color: white; 
  background: violet;
  cursor: pointer;
}

:hover {
  box-shadow: 0 1px 1px 1px rgba(lightgray, 0.6); 
}
  
textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

footer {
  font-family: sans-serif;
  color: #f0b3ff;
  letter-spacing: 0.08em;
  padding-left: 30px;
  padding-bottom: 20px;
}

.alignTextCenter {
  text-align: center;
}

.alignImageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* NAVIGATION BAR */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
  padding: 40px 40px 40px 40px;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #cc00ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f0b3ff;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #cc00ff;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* ABOUT US COLUMNS */
/* Two columns side by side */
.row {
  display: flex;
  justify-content: center;
}
.column {
  width: 35%;
  margin-bottom: 16px;
  padding: 0 20px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  line-height: 1.4rem;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

