@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);


body {
    width: 95%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 15px 40px 30px 40px;
}

h1 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #cc00ff;
}

footer {
    font-family: sans-serif;
    color: #f0b3ff;
    letter-spacing: 0.08em;
}

.alignTextCenter {
        width: 100%;
        text-align: center;
        padding: 35px;
    }

.alignImageCenter {
    padding-left: 25%;
    width: 50%;
}

    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

.topnav {
    background-color: #ffffff;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #cc00ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f0b3ff;
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #cc00ff;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }