@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
    width: 80%;
    /*border: 20px solid #bdc3c7;*/
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    padding-left: 40px;
    margin: 20px auto;
    max-width: 700px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.date {
    color: #3498db;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #2c3e50;
}

h4 {
    font-family: sans-serif;
    color: #3498db;
    letter-spacing: 0.08em;
}

img {
    height: 40px;
    padding-right: 30px;
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #cc00ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f0b3ff;
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #cc00ff;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
